<a href="/categories/<%= category.id %>/products" class="card">
    <h2 class="card-title">
        <%= category.title %>
    </h2>
    <p class="card-description">
        <%= category.description %>
    </p>

    <%- include("./warnings", { 
        count_text: category.product_count,
        no_warnings: Number(category.product_count) - (Number(category.low_warnings) + Number(category.critical_warnings)),
        low_warnings: category.low_warnings,
        critical_warnings: category.critical_warnings
    }) %>
</a>