<div class="card feature-card">
    <img src="/checkmark-icon.svg" alt="Checkmark icon" />
    <span class="feature-card-text">
        <p class="feature-title"><%= feature.title %></p>
        <p class="feature-description"><%= feature.description %></p>
    </span>
</div>

<style>
    .feature-card {
        flex-direction: row;
        align-items: center;

        max-width: 600px;
    }

    .feature-card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 8px;
    }

    .feature-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .feature-description {
        font-size: 1rem;
    }
</style>