<% if (errors.length > 0) { %>
    <ul>
        <% errors.forEach(error => { %>
            <li class="error-message">• <%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<style>
    .error-message {
        color: rgb(255, 0, 51);
        font-weight: 600;
    }
</style>