<% if (errors.length > 0) { %>
    <ul class="errors-list">
        <% errors.forEach(error => { %>
            <li class="error-message"><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<style>
    .error-message {
        padding-left: 8px;

        color: var(--red-1000);
        font-weight: 600;

        list-style-type: disc;
        list-style-position: inside;
    }
</style>