<footer>
    <p>Made by Talym Myler</p>
    <a>
        <img src="" alt="GitHub icon"/>
    </a>
</footer>

<style>
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        width: 100%;
        padding: 40px;

        background-color: rgb(67, 170, 255);
        box-shadow: 0 -4px 4px #00000025;
    }
</style>