<footer>
    <p>Made by Talym Myler</p>
    <a href="https://github.com/smyler3" class="github-container">
        <div class="logo-background">
            <img src="/github-logo.svg" alt="GitHub icon"/>
        </div>
    </a>
</footer>

<style>
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        width: 100%;
        padding: 20px 40px;

        background-color: rgb(67, 170, 255);
        box-shadow: 0 -4px 4px #00000025;
    }

    .github-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .github-container > .logo-background {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 100%;
    }
    .github-container:hover > .logo-background,
    .github-container:focus > .logo-background {
        background-color: #b2dcff;
    }
    .github-container:active > .logo-background {
        background-color: #008cff;
    }
</style>