<header>
    <div class="header-content-wrapper">
        <a href="/" class="logo-container">
            <img src="/logo.svg" alt="" class="logo-img">
        </a>
        <nav>
            <ul class="links-list">
                <li>
                    <a href="/categories" class="nav-link">Categories</a>
                </li>
                <li>
                    <a href="/products" class="nav-link">Products</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        background-color: var(--blue-050);
        box-shadow: 0 4px 4px var(--black-50);
    }

    .header-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        gap: 24px;

        width: 100%;
        max-width: 1200px;
        padding: 20px;
    }

    .logo-container {
        display: flex;
        align-items: end;
        justify-content: center;
    }
    .logo-container:hover,
    .logo-container:focus {
        opacity: 60%;
    }
    .logo-container:active {
        opacity: 90%;
    }

    .logo-img {
        height: 34px
    }

    .placeholder-logo {
        font-size: 3rem;
        line-height: 1;

        background-color: aquamarine;
    }

    .links-list {
        display: flex;
        align-items: start;
        gap: 12px;

        font-size: 1.2rem;
        font-weight: 450;
    }

    .nav-link {
        text-decoration: none;
        color: inherit;

        border-bottom: 2px solid var(--invis);
    }
    .nav-link:hover,
    .nav-link:focus {
        border-color: var(--black);
    }
    .nav-link:active {
        border-color: var(--white);
    }

    @media screen and (max-width: 600px) {
        .header-content-wrapper {
            flex-direction: column;
            align-items: start;
            gap: 8px;

            padding: 12px 20px;
        }
    }
</style>