<header>
    <a href="/" class="logo-container">
        <img src="/logo.svg" alt="" class="logo-img">
    </a>
    <nav>
        <ul class="links-list">
            <li>
                <a href="/categories" class="nav-link">Categories</a>
            </li>
            <li>
                <a href="/products" class="nav-link">Products</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        gap: 24px;

        width: 100%;
        padding: 20px 40px;

        background-color: rgb(67, 170, 255);
        box-shadow: 0 4px 4px #00000025;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-bottom: 2px solid #00000000;
    }
    .logo-container:hover {
        border-color: black;
    }
    .logo-container:focus {
        border-color: black;
    }
    .logo-container:active {
        border-color: white;
    }


    .logo-img {
        height: 34px
    }

    .placeholder-logo {
        font-size: 3rem;
        line-height: 1;

        background-color: aquamarine;
    }

    .links-list {
        display: flex;
        align-items: start;
        gap: 12px;

        font-size: 1.2rem;
        font-weight: 450;
    }

    .nav-link {
        text-decoration: none;
        color: inherit;

        border-bottom: 2px solid #00000000;
    }
    .nav-link:hover {
        border-color: black;
    }
    .nav-link:focus {
        border-color: black;
    }
    .nav-link:active {
        border-color: white;
    }
</style>