<header>
    <a href="/" class="logo-container">
        <img src="/logo.svg" alt="" class="logo-img">
    </a>
    <nav>
        <ul class="links-list">
            <li>
                <a href="/categories">Categories</a>
            </li>
            <li>
                <a href="/products">Products</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        gap: 24px;

        width: 100%;
        padding: 20px 40px;

        background-color: rgb(67, 170, 255);
        box-shadow: 0 4px 4px #00000025;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-img {
        height: 34px
    }

    .placeholder-logo {
        font-size: 3rem;
        line-height: 1;

        background-color: aquamarine;
    }

    .links-list {
        display: flex;
        align-items: start;
        gap: 12px;

        font-size: 1.2rem;
        font-weight: 450;
        text-decoration: underline;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
</style>