<div class="sortByContainer">
    <div>Sort by:</div>
    <div>
        <select id="filter">
            <% options.forEach(option => { %>
                <option value="<%= option.value %>"><%= option.label %></option>
            <% }) %>
        </select>
    </div>
</div>