* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Inter";

    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;

    min-height: 100vh;
    color: #202020;

    background-color: #FAFAFA;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 100%;
    max-width: 1200px;
    padding: 80px 20px;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}