* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Inter";

    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;

    min-height: 100vh;
    color: #202020;

    background-color: #FAFAFA;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 100%;
    max-width: 1200px;
    padding: 80px 20px;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.create-button {
    align-self: start;
    padding: 8px 16px;

    background-color: rgb(189, 219, 231);
    border: 2px solid skyblue;
    border-radius: 4px;
}

.back-link {
    color:#737373;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px;

    text-decoration: none;
    color: inherit;

    border-radius: 4px;
    box-shadow: 0 2px 4px #20202025;
}

.card-title {
    font-weight: 600;
    font-size: 1.6rem;
}

.card-description {
    color: #777777;
    font-size: 1.2rem;
}

.card-horizontal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-icon {
    height: 30px;
}

.card-buttons {
    display: flex;
    gap: 4px;
}