/* 
--------------------------------------------------------------
GENERAL STYLING
--------------------------------------------------------------
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

html {
    font-family: "Inter";

    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;

    min-height: 100vh;
    color: #202020;

    background-color: #FAFAFA;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 100%;
    max-width: 1200px;
    padding: 40px 20px 80px 20px;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

input,
button,
a {
    min-height: 40px;
    min-width: 40px;
}

/* 
GENERAL STYLING END
*/

/* 
--------------------------------------------------------------
SHARED STYLING
--------------------------------------------------------------
*/
.back-link {
    align-self: start;
    display: flex;
    align-items: center;
    justify-self: start;

    color:#737373;
    text-decoration: none;

    border-bottom: 2px solid #00000000;
}
.back-link:hover,
.back-link:focus {
    color:#b3b3b3;
}
.back-link:active {
    color:#575757;
}

.card-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.spaced-horizontal-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.button-container {
    display: flex;
    gap: 4px;
}

.item-action-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;
    padding: 10px;

    background-color: rgb(236, 235, 235);
    border: 2px solid rgb(190, 190, 190);
    border-radius: 4px;
}

.item-action-icon {
    width: 100%;
    height: 100%;
}

.action-btn {
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 40px;
    min-width: 40px;
    padding: 8px 16px;

    color: inherit;
    font-size: 1rem;
    text-decoration: none;

    background-color: #F0F0F0;
    border: solid 2px #d8d8d8;
    border-radius: 4px;
}
.action-btn:hover,
.action-btn:focus {
    background-color: #d8d8d8;
}
.action-btn:active {
    background-color: #adadad;
    border-color: #adadad;
}

.modify-btn {
    background-color: rgb(189, 219, 231);
    border-color: skyblue;
}
.modify-btn:hover,
.modify-btn:focus {
    background-color: skyblue;
}
.modify-btn:active {
    background-color: rgb(77, 186, 230);
    border-color: rgb(77, 186, 230);
}


.constructive-btn {
    background-color: rgb(189, 231, 203);
    border-color: rgb(135, 235, 173);
}
.constructive-btn:hover,
.constructive-btn:focus {
    background-color: rgb(137, 233, 169);
}
.constructive-btn:active {
    background-color: rgb(39, 218, 99);
    border-color: rgb(39, 218, 99);
}

.destructive-btn {
    background-color: rgb(231, 189, 189);
    border-color: rgb(235, 135, 135);
}
.destructive-btn:hover,
.destructive-btn:focus {
    background-color: rgb(235, 135, 135);
}
.destructive-btn:active {
    background-color: rgb(228, 95, 95);
    border-color: rgb(228, 95, 95);
}

.results-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text-icon-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* 
SHARED STYLING END
*/

/* 
--------------------------------------------------------------
CARD STYLING
--------------------------------------------------------------
*/

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px;

    text-decoration: none;
    color: inherit;

    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px #20202025;
}
.card:hover,
.card:focus {
    box-shadow: 0 2px 12px #20202075;
}
.card:active {
    background-color: #f1f1f1;
}

.card-title {
    font-weight: 600;
    font-size: 1.6rem;
}

.card-description,
.page-form-context,
.page-description {
    color: #777777;
    font-size: 1.2rem;
}

.status-icon {
    height: 30px;
}

/* 
CARD STYLING END
*/

/* 
--------------------------------------------------------------
PAGE FORM STYLING
--------------------------------------------------------------
*/


.page-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 600px;
}

.page-form-field-guidelines {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.page-form-field-guideline {
    padding-left: 8px;

    color: #777777;

    list-style-type: disc;
    list-style-position: inside;
}

.page-description,
.page-form-context {
    margin-top: -28px;
}

.page-form-field-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.page-form-label {
    font-weight: 600;
}

.form-input {
    padding: 4px 8px;

    width: 100%;

    font-size: 1rem;
    font-weight: 500;

    background-color: white;
    border: 2px solid #c7c7c7;
    border-radius: 4px;

    overflow-x: hidden;
}
.form-input:focus {
    outline: 2px solid #0046c9;
}

.invalid-form-input {
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 236, 239);
}
.invalid-form-input:hover,
.invalid-form-input:focus {
    border-color: rgb(255, 0, 0);
}

/* 
PAGE FORM STYLING END
*/

@media screen and (prefers-reduced-motion: no-preference) {
    .card {
        transition: box-shadow 0.5s;
    }
}