<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Required fields are marked with (*)</p>
        <form action="/categories/<%= categoryID %>/products/new" method="POST">
            <label for="productTitle">Title *</label>
            <input type="text" name="productTitle" id="productTitle" required>

            <label for="productDescription">Description *</label>
            <input type="text" name="productDescription" id="productDescription" required>

            <label for="salePrice">Sale Price *</label>
            <input type="text" name="salePrice" id="salePrice" required>

            <label for="stockCount">Stock Count *</label>
            <p>Max 1000</p> <!-- Is this accessible? -->
            <input type="text" name="stockCount" id="stockCount" required>

            <label for="lowStockCount">Low Stock Count *</label>
            <p>A low stock warning will be indicated when product stock reaches this number</p> <!-- Is this accessible? -->
            <input type="number" name="lowStockCount" id="lowStockCount" required>

            <label for="criticalStockCount">Critical Stock Count *</label>
            <p>A critical stock warning will be indicated when product stock reaches this number</p> <!-- Is this accessible? -->
            <input type="number" name="criticalStockCount" id="criticalStockCount" required>

            <button type="submit">Add new product</button>
        </form>
    </body>
</html>