<%
    const features = [
        {
            img: "/pencil-hero.svg",
            title: "Custom Setup",
            description: "Easily add, edit, and delete categories and products as your inventory needs change.",
            points: [
                "Flexible editing",
                "Easy organization",
                "Scales with needs"
            ]
        },
        {
            img: "/box-hero.svg",
            title: "Category Storage",
            description: "Organize products efficiently by storing them within specific categories for better management.",
            points: [
                "Clear structure",
                "Faster browsing",
                "Better control"
            ]
        },
        {
            img: "/warn-hero.svg",
            title: "Stock Alerts",
            description: "Set custom stock thresholds to receive notifications when inventory reaches low or critical levels.",
            points: [
                "Custom limits",
                "Real-time warnings",
                "Prevent shortages"
            ]
        },
        {
            img: "/search-hero.svg",
            title: "Quick Search",
            description: "Find products instantly using search filters like name, category, or stock status.",
            points: [
                "Fast filtering",
                "Multi-field search",
                "Time-saving"
            ]
        }
    ];
%>

<h1 class="hero-header">Simplify Your Inventory Management with <strong class="hero-strong">Bits & Bobs</strong></h1>
<p class="hero-sub-header">Track, organize, and optimize your stock effortlessly.</p>
<a href="/categories" class="action-btn hero-btn">Get Started</a>

<ul class="feature-card-grid">
    <% features.forEach(feature => { %>
        <li>
            <%- include('./partials/featureCard.ejs', { feature }) %>
        </li>
    <% }) %>
</ul>

<style>
    .hero-header {
        font-size: 50px;
    }

    .hero-sub-header {
        color: var(--grey-400);
        font-weight: 600;
        font-size: 1.8rem;
    }

    .hero-strong {
        color: var(--blue-100);
    }

    .hero-btn {
        color: var(--white);

        background-color: rgb(150, 73, 221);
        border-color: rgb(138, 43, 226);
    }
    .hero-btn:hover,
    .hero-btn:focus {
        background-color: rgb(167, 103, 226);
    }
    .hero-btn:active {
        background-color: rgb(119, 17, 214);
        border-color: rgb(105, 23, 182);
    }

    .feature-card-grid {
        align-self: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;

        max-width: 1000px;
    }
</style>